<!DOCTYPE html>
<html lang="en" ng-app="sportsStore">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/webjars/angularjs/1.6.6/angular.js"></script>
    <script src="/webjars/angularjs/1.6.6/angular-resource.js"></script>
    <script src="/webjars/angularjs/1.6.6/angular-route.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.css"/>
    <script>
        angular.module("sportsStore", ["customFilters"]);
    </script>
    <script src="/js/controllers/sportsStore.js"></script>
    <script src="/js/controllers/productListControllers.js"></script>
    <script src="/js/filters/customFilters.js"></script>
</head>
<body ng-controller="sportsStoreCtrl">
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">SPORTS STORE</a>
    </div>
    <ng-include src="'/views/productList.html'"></ng-include>
</body>
</html>